body {
    font-family: 'poppins', sans-serif;
    background-color: #56baed
}

h2{
    text-align: center;
    color: #fff;
}

#board {
    width: 375px;
    height: 375px;
    background-color:#fff;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
 
.cell {
    width: 122px;;
    height: 122px;
    font-size: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-lines {
    border-bottom: 3px solid #56baed;
}

.vertical-lines {
    border-right: 3px solid #56baed;
}

.winner {
    background-color: #fff;
    /* color: darkblue; */
    transition: all 0.3s ease-out;
}

 .reset {
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 48%;
    margin-top: 48px;
    border: none;
}

.reset:hover {
    transform: scale(0.96);
} 

